table {
    width: 100%;
    width: min(900px, 100%-3rem);
    margin-inline: auto;
    border-collapse: collapse;
    border-spacing: 2rem;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
  
    th,
    td,
    caption {
      padding: 1rem;
    }
  
    th {
      &:nth-child(1) {
        background: #fffaee;
        border-radius: 20px 0 0 0;
        border-right: 7px solid #fff;
      }
      &:nth-child(2) {
        background: #e5f4fb;
      }
      &:nth-child(3) {
        background: #e3f4df;
        border-left: 7px solid #fff;
      }
      &:nth-child(4) {
        background: #fffaee;
        border-radius: 0 20px 0 0;
        border-left: 7px solid #fff;
      }
    }
    td {
      border-bottom: 2px dashed #eeeded;
      font-weight: 400;
      font-size: 16px;
      color: #686868;
    }
    tr:last-child {
      td {
        border-bottom: none;
      }
    }
    col:nth-child(2) {
      background: #f4feff;
    }
  }
  caption,
  th,
  td {
    text-align: center;
  }
  
  @media (max-width: 650px) {
    td {
      display: grid;
      gap: 2.5rem;
      grid-template-columns: 1fr 1fr;
      padding: 2rem 2rem;
    }
    td:first-child{
      padding-top:2rem;
    }
      td:last-child{
      padding-top:2rem;
    }
    th {
      display: none;
    }
    td::before {
      content: attr(data-cell);
      font-weight: bold;
      font-size: 16px;
      text-transform: capitalize;
      padding: 0.5rem 1rem;
    }
  
    td:nth-of-type(1)::before {
      background: #e3f4df;
    }
    td:nth-of-type(2)::before {
      background: #e5f4fb;
    }
    td:nth-of-type(3)::before {
      content: attr(data-cell);
      background: #fffaee;
    }
  }

  .table-container {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Add vertical scroll bar */
    border: 1px solid #ddd; /* Optional: add a border for better visibility */
  }

  table {
    
    width: 100%;
    border-collapse: collapse; /* Optional: remove gaps between cells */
  }

  th, td {
    padding: 8px; /* Optional: add some padding for readability */
    border: 1px solid #ddd; /* Optional: add borders to cells */
    text-align: left; /* Optional: align text to the left */
  }

  th {
    background-color: #f4f4f4; /* Optional: add a background color to table headers */
  }

  button {
    margin-right: 8px; /* Optional: add some space between buttons */
  }
  